.sections
  a( class=`d-block sidebar-custom py-2 pl-2 lead ${typeSearch === 'Top' ? 'sidebar-active' : ''}` href='/top')
    i.fas.fa-fire
    strong  Top
  a(class= `d-block sidebar-custom py-2 pl-2 lead ${typeSearch === 'New' ? 'sidebar-active' : ''}` href='/new')
    i.fas.fa-clock
    strong  New
  p.d-block.pl-2.py-2.text-secondary.m-0
    strong
      strong  Categories
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'comedy' ? 'sidebar-active' : ''}` href='/category/comedy')
    i.fas.fa-laugh
    strong  Comedy
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'picture' ? 'sidebar-active' : ''}` href='/category/picture')
    i.fas.fa-camera
    strong  Picture
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'wtf' ? 'sidebar-active' : ''}` href='/category/WTF')
    i.fas.fa-surprise
    strong  WTF
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'gaming' ? 'sidebar-active' : ''}` href='/category/gaming')
    i.fas.fa-gamepad
    strong  Gaming
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'animals' ? 'sidebar-active' : ''}` href='/category/animals')
    i.fas.fa-hippo
    strong  Animals
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'music' ? 'sidebar-active' : ''}` href='/category/music')
    i.fas.fa-music
    strong  Music
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'NSFW' ? 'sidebar-active' : ''}` href='/category/NSFW')
    i.fas.fa-kiss-wink-heart
    strong  NSFW
  p.d-block.pl-2.py-2.text-secondary.m-0
    strong
      strong Sections
  a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
    i.fas.fa-image
    strong  Wallpaper
  a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
    i.fas.fa-futbol
    strong  Football
  a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
    i.fas.fa-play-circle
    strong  GIF
  a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
    i.fas.fa-surprise
    strong  Horror
  a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
    i.fas.fa-landmark
    strong  History
  a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
    i.fas.fa-film
    strong  Movie
  a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
    i.fas.fa-briefcase
    strong  DIY