.sections
  a( class=`d-block sidebar-custom py-2 pl-2 lead ${typeSearch === 'Top' ? 'sidebar-active' : ''}` href='/type/top')
    i.fas.fa-fire
    strong  Top
  a(class= `d-block sidebar-custom py-2 pl-2 lead ${typeSearch === 'New' ? 'sidebar-active' : ''}` href='/type/new')
    i.fas.fa-clock
    strong  New
  p.d-block.pl-2.py-2.text-secondary.m-0
    strong
      strong  Categories
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'comedy' ? 'sidebar-active' : ''}` href='/category/comedy')
    i.fas.fa-laugh
    strong  Comedy
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'picture' ? 'sidebar-active' : ''}` href='/category/picture')
    i.fas.fa-camera
    strong  Picture
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'wtf' ? 'sidebar-active' : ''}` href='/category/WTF')
    i.fas.fa-surprise
    strong  WTF
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'gaming' ? 'sidebar-active' : ''}` href='/category/gaming')
    i.fas.fa-gamepad
    strong  Gaming
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'animals' ? 'sidebar-active' : ''}` href='/category/animals')
    i.fas.fa-hippo
    strong  Animals
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'music' ? 'sidebar-active' : ''}` href='/category/music')
    i.fas.fa-music
    strong  Music
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'NSFW' ? 'sidebar-active' : ''}` href='/category/NSFW')
    i.fas.fa-kiss-wink-heart
    strong  NSFW
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'wallpaper' ? 'sidebar-active' : ''}` href='/category/wallpaper')
    i.fas.fa-image
    strong  Wallpaper
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'sports' ? 'sidebar-active' : ''}` href='/category/sports')
    i.fas.fa-futbol
    strong  Sports
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'horror' ? 'sidebar-active' : ''}` href='/category/horror')
    i.fas.fa-surprise
    strong  Horror
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'history' ? 'sidebar-active' : ''}` href='/category/history')
    i.fas.fa-landmark
    strong  History
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'movie' ? 'sidebar-active' : ''}` href='/category/movie')
    i.fas.fa-film
    strong  Movie
  a(class= `d-block sidebar-custom py-2 pl-2 lead text-muted ${typeSearch === 'DIY' ? 'sidebar-active' : ''}` href='/category/DIY')
    i.fas.fa-briefcase
    strong  DIY