extends base
block content
  section#mainContent
    .container
      .row
        .col-md-3.p-3
          include _sidebar
        .col-md-9.p-3
          .card.my-3
            if userInfo
              .card-body.d-flex
                img.user-image.d-inline-block(src=`${userInfo.imagePath}` alt='#{userInfo.displayName}' style='height: 100px; width: 100px;')
                .profileWrapper.align-self-center.ml-3
                  h3.h1.m-0
                    strong #{userInfo.displayName}
                  small.text-muted.m-0
                    | #{userInfo.userGender}
                    span.ml-2 #{userInfo.userBirthday}
              p.ml-4 #{userInfo.userBio}
              p.text-dark.ml-4.my-0
                strong.profileSelection Posts
            else
              userWrapp.d-flex
                img.user-image.d-inline-block(src='/img/User_default.svg' alt='User default image' style='height: 100px; width: 100px;')
                .profileWrapper.align-self-center.ml-3
                  h3.h1
                    strong User not found
                  small.text-muted.m-0
          include _post
    .goUp
      a.fixed-bottom.up-control.rounded-circle.m-5.ml-auto(href='#mainContent')
        i.fas.fa-arrow-up.fa-lg